.trainervideo .trainervideo-left .videosection{
    border : 1px solid black;
    height: 150px;
}
.trainervideo-right div{
    margin: 5px;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
}
.trainervideo-right .icon{
    margin: 10px 10px 0 0;
    cursor: pointer;
}