.videosSection {
    border : 1px solid black;
    width : 100%;
    max-height: 1000px;
    overflow: scroll;
}
.trainervideo .trainervideo-left .videosection{
    border : 1px solid black;
    height: 150px;
}
.trainervideo-right div{
    margin: 5px;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}
/* .trainervideo-right .videoIcons{
    display: 
} */
.trainervideo-right .icon{
    margin: 10px 20px 0 0;
    cursor: pointer;
}
.trainervideo-right .videoIcons :first-child{
    margin-left: 10px;
}
