.trainerprofile{
    border: 1px solid black;
    margin-bottom: 10px;
}

.trainerprofile-left, .trainerprofile-left img  {
    width : 150px;
}

.trainerprofile-right div, 
.trainerprofile-right Button{
    padding: 4px;
    font-size: 13px;
    font-weight: 700;
}
/* .trainerprofile-right .trainerTime{
    
} */